
{{#> layouts/layout title = "Open Broker account page" }}

    <div class="entry">
        <h1>Account</h1>
        <div class="body">
            <a href="app" target="app" rel="noopener noreferrer">Trader Station</a>
        </div>
    </div>

{{~/layouts/layout }}
