
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

body {
    background-color: #04042a;
}

.main-style {
    font-size: 18px;
    margin: 0 auto 20px;
    color: white;
    border-radius: 5px;
}

.dtfc-fixed-left, .dtfc-fixed-right {
    background-color: #04042a !important; /* Or your desired color */
}

.logout{
    display: inline-block;
    font-size: 14px;
    background: #1010a0;
    color: white;
    padding: 5px 10px;
}

tbody tr:nth-child(odd) {
    background-color: #020220;
    color: #fff;
}

th {
    font-family: ui-monospace;
    padding: 1px 20px;
}

td {
    font-family: ui-monospace;
    padding: 1px 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.warning {
    color: yellow;
}

.success {
    color: green;
}

.green .right-align {
    color: green;
}

.redcell {
    color: red;
    text-align: right;
}

.greencell {
    color: green;
    text-align: right;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.password-toggle-icon {
    margin-top: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
    color: #88f;
    transition: color 0.3s ease-in-out;
}

.password-toggle-icon i:hover {
    color: #fff;
}